
.image-container-detailsPage{
    width: 98.9vw;
    height: 100vh;
    margin-top: -120px;
}
.backgroundImage {
    object-fit: cover;
}
.movie-info-detailsPage>p{
    font-size: 20px;

}
.movie-info-detailsPage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    height: 60vh;
}
.article-h3-detailsPage{
    font-size: 45px;
}
